.MyMentors {
    position: relative;
}

.MyMentors a:active, .MyMentors a.active {
    border-bottom: 3px solid red;
}

.MyMentors a:hover {
    text-decoration: none;
}

.MyMentors .mentor_circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #282934;
    color: #fff;
    display: grid;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}